.list {
  padding-left: 20px;
}

.none-list-style {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  line-height: 1.71;
  color: #595959;
}

body {
  width: 1280px;
  background-color: #E5E5E5;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

.main {
  display: flex;
  width: 1200px;
  height: 1450px;
  margin: 40px;
  background-color: #FFFFFF;
}

.aside {
  width: 370px;
  height: 1450px;
  background-color: #1E2939;
}

.photo-container {
  margin-top: 40px;
}

.skills-container {
  margin-top: 50px;
  margin-left: 40px;
}

.download-cv-container {
  margin-left: 40px;
  margin-top: 20px;
}

.download-cv__link {
  text-decoration: none;
  color: white;
}

.download-cv__link:hover {
  color: #FB6D3A;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
  margin-bottom: 50px;
}

/* title */
.contacts-title,
.tech-skills-title,
.soft-skills-title,
.interests-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
  color: #FFFFFF;
  letter-spacing: 0.05em;
}

.contacts-list {
  list-style: none;
  padding-left: 0;
}
.contacts-item span {
  color: white;
}

.contacts-item {
  margin-bottom: 10px;
}

.contacts-item > a {
  color: white;
  text-decoration: none;
  opacity: 0.7;
}

.contacts-item > a:hover {
  color: #FB6D3A;
}


.tech-skills-list > li,
.soft-skills-list > li,
.interests-list > li {
  color: #FB6D3A;
  padding-bottom: 10px;
}


.tech-skills-list > li > span,
.soft-skills-list > li > span,
.interests-list > li > span {
  color: white;
}


.main-content {
  height: 1319px;
  width: 829px;
  
}

.content-container {
  width: 630px;
  margin: 50px auto;
  border: 1px solid #FB6D3A;
  padding: 10px;
}
.about-container {
  width: 400px;
  height: 230px;
}

.about-text-top {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}

.about-text-below {
  font-size: 14px;
  line-height: 1.71;
  color: #595959;
}

.about-container,
.projects-container,
.work-container {
  margin-bottom: 30px;
}


.project-title,
.work-title,
.education-title {
  font-size: 22px;
  line-height: 1.22;
  color: #000000;
}

.project-list {
  padding-left: 20px;
}

.project-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #595959;
  text-decoration: none;
  padding-left: 10px;
}


.project-list-link:hover {
  color: #FB6D3A;
}


.work-subtitle,
.education-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.work-subtitle span {
  color: #FB6D3A;
}

.work-text,
.education-text {
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
}

.work-list > li {
  color: #FB6D3A;
}

.work-list > li > span {
  color: #595959;
}

.work-list {
  padding-left: 18px;
  font-size: 14px;
  line-height: 1.71;
  color: #595959;
}

.education-subtitle {
  color: #FB6D3A;
}
.education-fourth-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

/* Mobile */

@media and screen 


























